@font-face {
    font-family: "Tahu Regular";
    src: url("./fonts/tahu-webfont.woff") format("woff2");
    src: url("./fonts/tahu-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.grand-titre {
color: white;
background-color: #008080;
text-align: center;
padding: 1rem 0;
margin: 10px 10px 10px 10px;
}


.positionnement {
    text-align:  justify;
    background-color: #e1e6d5;
    color: black;
    margin: 10px 10px 10px 10px;
    padding: 1.5rem 0;
    width: 98%;
    border: 1px solid black;
}

.header {
    text-align: center;
    color: #414148;
}

a {
    text-decoration: none;
}

.menu a {
    margin-right: 20px;
    color: black;
}

.menu a:hover {
    color: #008080;
}



